<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gold Standard</title>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
       <div class="collapse navbar-collapse" id="foobar">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/fscore">F-score</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/clusters">KMeans</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/names">Names</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/roc">ROC</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/golden">Golden</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="/specs">Specifications</a>
           </li>
       </ul>
       </div>
       </div>
  </nav>

  {% block body %}{% endblock %}

</body>

</html>